

<div class="container container-cta">

		
	<div class="box">
		<div class="box-menu">
			<ul class="box-nav">
				<li><a>Homepage</a></li>
				<li><a>Landing page 2</a></li>
				<li><a>Other page</a></li>
			</ul>
		</div>
		<div class="box-top" id="box-top">
				<div class="wrapper">
					  <div class="focus">
					    Find for Me 
					  </div>
					  <div class="mask">
					    <div class="text">Find   🤝</div>
					  </div>
				</div>
				<h1 style="font-size: 35px;">We find an internship for you ❤️</h1>
				<div class="cta-controls">
				<input type="text" name="" placeholder="Soyez averti de notre lancement" class="email"> <div class="btn-nws"> <a> Find </a> </div>
				</div>
				<br>
				<br>
				<br>
				<small> <a class="typeform-share button" href="https://ugo11.typeform.com/to/VfhanN" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#67A1D8;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">or... Start Now! </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

</small>
		</div>

		
		
		

</div>