<% provide(:title, "FAQ") %>
<div class="container">
    <div class="faq">
        <h2 class="main-title-faq">Foire Au Questions <i class="fas fa-question-circle"></i></h2>

        <p>Ici vous trouverez les réponses aux questions les plus fréquament posé</p>
        <p>Pour toute autre questions n'hésitez pas a nous <a href="/">contater</a> </p>

        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>
    
        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>

        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>

        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>

        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>


        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>

        <h5 class="title-faq"><i class="fas fa-plus"></i> Question ?</h5><br>
        <p class="text-faq">Super réponse trop bien à la question</p>
    </div>
</div>
