<% provide(:title, "Home") %>

<div class="container-cent">
	<br>
	<div class="card" style="width: 35rem;">
	  <div class="card-body">
	    <h5 class="card-title">Touve ton idée de stage</h5>
	    <p class="card-text">Marre de chercher pendant des heures a travers le web. Ne désespère pas, nous sommes là pour toi. Rentre tes critères de recherches séléctionne ce qu'il te plait.</p>
	  </div>
	</div>
	<br>
	<br>
	<br>
	<div class="card" style="width: 36rem; margin-left: 50%;">
	  <div class="card-body">
	    <h5 class="card-title">Partenariats</h5>
	    <p class="card-text">Nous sommes en partenariat avec les entreprises que nous te proposons. Tu peux ainsi bénéficier d'un service rapide et fiable.</p>
	  </div>
	</div>
	<h1>Rejoins la communauté FindForMe, inscris toi à notre newsletter</h1>
</div>
<a href="#" class="btn btn-black btn-lg active" role="button" aria-pressed="true" style="border-radius: 5px; margin-top: -40%; margin-left: 40%; width: 20%;">Inscris toi ici</a>