<% provide(:title, "Home") %>

<div class="container-cent">
	<br>
	<div class="card" style="width: 35rem;">
	  <div class="card-body">
	    <h5 class="card-title">Touvez votre idée de stage</h5>
	    <p class="card-text">Marre de chercher pendant des heures a travers le web. Ne déséspèrez pas, nous sommes là pour vous. Rentrez vos critères de recherches, séléctionnez ce qu'il vous plait et ce qui correspond à vos attentes.</p>
	  </div>
	</div>
	<br>
	<br>
	<br>
	<div class="card" style="width: 36rem; margin-left: 50%;">
	  <div class="card-body">
	    <h5 class="card-title">Partenariats</h5>
	    <p class="card-text">Nous sommes en partenariat avec les entreprises que nous vous proposons. Vous pouvez ainsi bénéficier d'un service rapide et fiable.</p>
	  </div>
	</div>
	<h1>Rejoignez la communauté FindForMe, inscrivez vous à notre newsletter.<br><br>Creez un compte pour bénéficier des avantages.</h1>
</div>
<a href="#" class="btn btn-black btn-lg active" role="button" aria-pressed="true" style="border-radius: 5px; margin-top: -40%; margin-left: 40%; width: 20%;">S'abonner à la newsletter</a>