<% provide(:title, "Home") %>

<div class="container-cent">
	<br>
	<div class="card" style="width: 35rem;">
	  <div class="card-body">
	    <h5 class="card-title">Vous êtes une entreprise, vous cherchez des stagiaires ?</h5>
	    <p class="card-text">FindForMe est une plateforme de mise en relation entre entreprises et personnes à la recherche de stage. Notre objectif est de promouvoir à la fois les entreprises et les utilisateurs de la plateforme. </p>
	  </div>
	</div>
	<br>
	<br>
	<br>
	<div class="card" style="width: 36rem; margin-left: 50%;">
	  <div class="card-body">
	    <h5 class="card-title">N'attendez plus, inscrivez votre entreprise</h5>
	    <p class="card-text">Nous vous garantissons une communauté de Finder toujours plus motivé. Avec les critères de séléction, définissez le type idéal de profil que vous recherchez</p>
	  </div>
	</div>
	<h1>Rejoignez la communauté FindForMe, inscrivez vous à notre newsletter.<br><br>Creez un compte pour proposer un poste.</h1>
</div>
<a href="" class="btn btn-black btn-lg active" role="button" aria-pressed="true" style="border-radius: 5px; margin-top: -40%; margin-left: 40%; width: 20%;">S'abonner à la newsletter</a>