/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #00eabb;
    border-color: #00eabb;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #00eabb;
    border-color: #00eabb;
    color: #468847;
    text-align: left;
 }