<div class="footer">
    <div class="footer-container">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    <a class="logo-link" href="/"><%= image_tag("Logo.png",size: "300x60", :alt => "Logo FindForMe",:class => "header-logo") %><a>
                    <p class="footer-txt">FindForMe est la première plateforme de recherche de stage ou de contract d'alternance créer par des étudiants pour des étudiants</p>
                    </div>
                    <div class="col-sm">
                    <h2>Villes</h2>
                    <a class="city-f "href="/">Strasbourg</a><br>
                    <a class="city-f "href="/">Paris</a><br>
                    <a class="city-f "href="/">Toulouse</a>
                    </div>
                    <div class="col-sm">
                    <h2>Information</h2>
                    <a>Open Early 2019</a>
                    </div>
                </div>
           </div>
        </div>
        <div class="footer-second">
            <div class="footer-link-container">
                <a class="footer-link"href="/"><i class="fab fa-twitter"></i></a>
                <a class="footer-link"href="/"><i class="fab fa-facebook"></i></a>
                <a class="footer-link"href="/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>