<div class="footer">
    <div class="footer-container">
        <div class="footer-heart-container">
            <p class="footer-heart">Made with  <i id="heart" class="em em-heart"></i>  in Strasbourg</p>
        </div>
    </div>
</div>