<div class="footer">
    <div class="footer-container">
        <div class="footer-heart-container">
    
        </div>
        <div class="footer-second">
            <div class="footer-link-container">
                <a class="footer-link"href="/"><i class="fab fa-twitter"></i></a>
                <a class="footer-link"href="/"><i class="fab fa-facebook"></i></a>
                <a class="footer-link"href="/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>